<h1><%= @article.title %></h1>
<!-- Will show the title of the article -->
<%= @article.content %>
<!-- now to add the form section -->
<form class="" action="/articles/<%= @article.id %>" method="post">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" name="" value="Delete Article">
</form>